<div class="card shadow-effect">
    <div class="card-body">
        <div class="text-center mt-3 mb-5">
            <h3>SUBSCRIBTION FORM</h3>
            <P class="m-auto sub-text"> To divide the featured views horizontally with a ratio of 1000:23 using Bootstrap, you can use the grid system classes provided by Bootstrap</P>

            <form action="" class="row form-inline mb-5">
                <div class="form-group col-md-5">
                    <input type="text" class="form-control shadow-effect" placeholder="Your Name">
                </div>
                <div class="form-group col-md-5">
                    <input type="email" class="form-control shadow-effect" placeholder="Email Address">
                </div>

                <div class="col-md-2">
                    <button class="btn btn-info btn-block ">SUBSCRIBE</button>
                </div>
            </form>
        </div>
    </div>
</div>