<div class="card shadow-effect">
    <img src="https://images.pexels.com/photos/3727117/pexels-photo-3727117.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2" alt="post-image" class="card-img-top">

    <div class="card-body">
        <small class="bg-light text-danger text-center"> Design </small>
        <small class="bg-light text-success text-center ml-3"> Featured </small>
        <small class="bg-light text-info text-center ml-3">Views - 1000,23</small>

        <!-- <div class="row">
            <div class="col-4 bg-light text-danger">
              Design
            </div>
            <div class="col-4 bg-light text-success">
              Featured
            </div>
            <div class="col-4 bg-light text-info">
                Views - 1000,23
              </div>
          </div> -->

        <h5 class="mt-1">Bootstrap is now installed </h5>
        <p>Next, you need to include the Bootstrap CSS and JavaScript files in your Angular project. Open the angular.json file in the root folder of your project.</p>

        <small class="bg-light text-warning text-center ml-3"> LAST UPDATED -SEP 20,2021</small>
    </div>
</div>
